*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .overall{
    max-width: 1440px;
    margin-left: 70px;
    
} */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

ul a{
    text-decoration: none;
    color: black;
}

.navlist{
    display: flex;
    gap: 30px;
}

.list li{
    text-decoration: none;
    list-style: none;
    color: black;
}


.container{
    display: flex;
    gap: 30px;
}
.container img{
    width: 100%;
}


.subsection{
    display: flex;
}
.box{
    background-color: black;
    color: white;
    padding-left: 20px;
    font-size: 1rem;
}

.overall{
    margin: 0 60px;
}

.intro-text{
    display: flex;
    gap: 300px;
    
}
.intro-text h1{
    font-size: 3rem;
    width: 100%;
    
}
.intro-text p{
    font-size: 1.5rem;
    width: 100%;
}

button{
    width: 130px;
    height: 30px;
    background-color: black;
    color: aliceblue;
}

.the{
    margin-bottom: 30px;
}

.image1{
    display: flex;
    align-items: center;
}