*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}

.mainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part-b{
    background-color: black;
    color: white;
    padding-left: 20px;

}
.mb{
    margin-bottom: 30px;
}

.color{
    color: orange;
    margin-bottom: 20px;
}
.red{
    color: white;
    background-color: red;
    width: 100px;
    margin-bottom: 20px;
    display: flex;
    margin-top: 30px;
    width: 100px;
    height: 30px;
    font-size: larger;
}

.container{
    display: flex;
    gap: 25px;
    /* height: 50px; */
}

.container{
    display: flex;
    gap: 25px;
}
.container img{
    width: 100%;
}
.co{
    color: orange;
}
.container2{
    display: flex;
    margin-top: 50px;
    gap: 10px;
}
.am{
    font-size: medium;
}
.we{
    font-size: medium;
}

.flex{
    display: flex;
    gap: 20px;
}
.am tried{
    font-size: medium;
}
.what{
    font-size: small;
}
.navlist{
    gap: 20px;
    display: flex;
}

