*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 100px;
}

h1{
    font-size: 70px;
}

h2{
    color: gold;
    font-size: large;
    font-style: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

nav{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.navlinks ul{
    display: flex;
    gap: 20px;
   
}
.navlinks ul li{
    list-style-type: none;    
}

a{
    text-decoration: none;
    color: black;
}

section{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.leftContainer{
    padding: 10px;
}

.rightContainer{
    background-color: rgb(8, 8, 83);
    flex-direction: column;
    color: white;
    padding: 10px 40px 10px 40px;
    margin-right: -10px;
    margin-left: -35px;
}
.text{
    display: flex;
    gap: 50px;
}

h1{
    font-size: 60px;
    margin-top: 20px;
}
.text2{
    font-size: 20px;
    margin-top: 40px;
}

.btn{
    color: white;
    background-color: red;
    padding: 20px;
    border: none;
}

.subsection{
    display: flex;
    /* margin-top: 100px; */
}

.image1{
    display: flex;
}
.image1 p{
    width: 100%;
}

.bold{
    color: red;
    font-weight:900 ;
}