/*  EXTERNAL CSS  */
/* External css is css styles written in a separate file from the html or javascript . External css is stored in a file that has a .css file extension */


/* what is a css selector */
/* A css selector is a name used to define an element , its attributes or its state */

/* Element name selectors use the name of the element as the selector */

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    border: 3px solid red;
}

nav{
    /* background-color: brown; */
}

 header img{
   
 width: 200px;
}

p{
    background-color: darkgoldenrod;
}

/* id selector is used to uniquely identify an element*/


#first{
    background-color: azure;
}
#second{
    background-color: rgb(18, 122, 122);
}



/* Class selectors are used to select multiple elements in order to same styles to them */

 .main_header{
    display: flex;
 }

/* Combinator selectors */

/* Combinator selectors are used to select elements based on the relationship between them */

 /* descendant combinator */

 header ul{
    display: flex;
 }
 /* child selector */
 nav > li{
    background-color: blue;
 }

 ul li{
    list-style: none;
    margin-inline: 2rem;
}

/* Sibling */

