*{
    margin: 0px;
    padding: 0px;
}
#one{
    /* display: flex; */
}
.inner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.outer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}



.inner>img{
    max-width:100%;
    padding: 2rem;
}

.inner>p,.outer>p{
    
    width: 25%;
    padding: 2rem;
}


#para_one{
    background-color: rgb(195, 101, 19);
    width: 45%;

}

#para_two{
    background-color: rgb(22, 133, 96);
}

#para_three{
    background-color: rgb(105, 54, 246);
    width: 45%;
}

/* Assignment */

.outer{
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    gap: 1rem;
}