*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    background-color: aqua;
    color: red;

    
}

#display{
    font-size: 2rem;
}

h1{
    font-size: 4rem;
}

h2{
font-size: 3rem;
}