






li{
    list-style: none;
   
}
.item2 li{ display: inline-block;}
.item7 li{ display: inline-block;}

.grid-container{
    display: grid;
    grid-template-areas:
    'Header list1 list1 list1 list2 list2'
    'Sidebar Main Main Main Main Rightmenu'
    'Footer Footer Footer Footer Footer Footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}





.item1 { grid-area:Header;}
.item2 { grid-area:list1;}
.item7 { grid-area:list2;}
.item3 { grid-area:Main;}
.item4 { grid-area:Rightmenu;}
.item5 { grid-area:Footer;}
.item6 { grid-area:Sidebar;}


.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
