 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#item1 {
  grid-area: header;
}
#item2{
  grid-area: menu;
  list-style: none;
  text-decoration: none;
}

#item3{
  grid-area: main;
  list-style: none;
  text-decoration: none;
}

#item4{
  grid-area: right;
  text-decoration: none;
  list-style: none;
}
#item5{
  grid-area: footer;
  justify-content: center;
}



.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
    background-color: #2196F3;
  padding: 10px;
}
ul{
  gap: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  list-style: none;
}
a{
  text-decoration: none;
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
  
