

.grid-container {
    display: grid;
    grid-template-areas:
      'mango amala header header header header'
      'menu main main main right right'
      ' footer footer footer footer footer footer'
      'img2 img2 img2 img1 img1 img1';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }




#item1 { 
    grid-area: header; 
}
#item2 {
     grid-area: menu; 
     list-style: none;
     text-decoration: none;
    }
#item3 { 
    grid-area: main; 
    list-style: none;
    text-decoration: none;
}
#item4 {
     grid-area: right; 
     list-style: none; 
     text-decoration: none; 
    }
#item5 { 
    grid-area: footer; 
}

#img1{
   
    grid-area: img1; 
}
#img2{
   
    grid-area: img2; 

}
.img{
    /* display: block; */
    max-width: 100%;
}
