*{
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

div{
    background-color: black;
    border: yellow;
    color: white;
    font-size: 2rem;
    height: 150px;
    width: 350px;
    padding: 1rem;
=======
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div{
    border-color: yellow;
    background-color: black;
    color: white;
    font-size: 2rem;
    height: 150px;
    width:350px;
    padding:1rem;
>>>>>>> victorherald
}