*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
div{
    border: yellow;
    background-color: black;
    color: white;
    font-size: 2rem;
    height: 150px;
    width: 350px;
    padding: 1rem;
}