*{
<<<<<<< HEAD
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main container{
    justify-content: center;
    display: flex;
    align-items: center;
}
.containerbutton{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 16px;
}
button{
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: green;
    margin-block: 150px;
    height: 40px;
    width: 120px;
    color: white;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
=======
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
   gap: 2rem;
}


.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

button{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 200px;
    height:40px;
    border: 1px;
    background-color: green;
    color: white;
    font-family: sans-serif;
    /* gap: 1.5rem; */
>>>>>>> 372d798feee3c577ee237580bab6c3334deb0b08
}