@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Colours */
    --primaryColour1: hsl(0, 0%, 100%); 
    --primaryColour2: hsl(0, 0%, 0%);
    --primaryColour3: hsl(0, 0%, 55%);
    --primaryColour4: hsl(0, 0%, 41%);

    /* Typography */ 
    --bodyFontSize: 16px;
    --bodyFontWeightLightOne: 300;
    --bodyFontWeightLightTwo: 400;
    --bodyFontFamilyOne: 'Josefin Sans', sans-serif;
    --bodyFontFamilyTwo: 'Alata', sans-serif;
}

/* Desktop Approach */

body{
    width: 100vw;
    height: 100vh;
}

.headerOne {
    background-image: url(/mock_project/frontendMentorDocs/loopstudios-landing-page-main/images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25rem;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
}

nav .logoImg{
    width: 180px;
    height: 50px;
    padding: 12px;
}

.nav_items {
    display: flex;
    gap: 2.1rem;
    padding: 0.7rem;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: var(--primaryColour1);
}

.headerText {
    color: var(--primaryColour1);
    font-weight: var(--bodyFontWeightLightOne);
    padding: 16px 16px;
}

.bodyContainer {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 5rem;
}

.sectionImage {
    width:550px;
    height: 350px;
    padding: 0.5rem;
    margin-left: 2rem;
}

.sectionOne {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    gap: 0.5rem;
}

.sectionHeader {
    font-size: 3rem;
    line-height: 1.3;
    text-indent: -2rem;
    margin-right: 4rem;
    font-weight: var(--bodyFontWeightLightOne);
}

.sectionSubHeader {
    font-size: 3rem;
    font-weight: var(--bodyFontWeightLightOne);
}

p {
    text-align: justify;
    color: var(--primaryColour3);
    font-weight: var(--bodyFontWeightLightTwo);
}

.boxOne {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

h2{
    padding: 10px;
}

button {
    width: 120px;
    height: 35px;
    padding: 10px;
    background-color: var(--primaryColour1);
    border: 1.5px solid;
}