*{
    padding: 0%;
    margin: 0%;
    box-sizing: 0;
}


.whatsapp{
    width: 200px
height: 200px
top: 326.00000000000045px
left: 543px

}

#invest{
    width: 200px
    height: 200px
    top: 326.00000000000045px
    left: 543px

}

#tour{
    width: 489px
    height: 317px
    top: 22px

}

h1{
    width: 711px
height: 250px
top: 133.00000000000045px
left: 29px


}